@CHARSET "EUC-KR";

/* Reset */
body,div,dl,dt,dd,ul,ol,li,p,
h1,h2,h3,h4,h5,h6,
form,fieldset,legend,input,label,button,textarea,select,
table,caption,thead,tfoot,tbody,tr,th,td,
address,img,span,em,strong,pre {margin:0; padding:0;}

html,body {width:100%; height:100%;}
html {overflow-y:scroll;}
body {line-height:20px; background-color:#fff; word-break:break-all;}

body,input,textarea,select,button {font-size:13px; font-family:'Malgun Gothic',Dotum,applegothic,sans-serif,arial; color:#333; letter-spacing:-0.5px; *letter-spacing:-1px}
h1,h2,h3,h4,h5,h6 {font-family:'Malgun Gothic',Dotum,applegothic,sans-serif,arial; color:#333; letter-spacing:-0.5px;}
table {border-collapse:collapse; border-spacing:0; width:100%;}
/* table td {word-break: break-all;} */

/* legend {*width:0;} */
legend,hr,caption {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0;}
legend,hr {overflow: hidden; position:absolute; top:0; left:0;}

img,fieldset,iframe {border:0 none;}
ul,ol,li {list-style: none;}
i,em,address {font-style: normal;}
hr{display:none;}
img {vertical-align:top}

a {color:#444; text-decoration:none; vertical-align:top;}
a:link,a:visited {/* color:#333;  */text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}

/* form style */
label {cursor:pointer; vertical-align: middle;}
button {background-color:transparent; cursor:pointer; border:0;}

.show{display:block}
.hide{display:none}
.blind,
.ico > em {position:absolute; top:-5000px; width:1px; height:1px; font-size:0; line-height:0; overflow:hidden;}
.ellipsis {text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:inline-block;}

/* paging */
.paging {margin:30px auto 20px; text-align:center;}
.paging * {vertical-align:middle;}
.paging .btn {background: url(/images/juso/paging.png) no-repeat; display:inline-block; width:25px; height:25px; overflow:hidden; color:transparent; font-size:0; line-height:0; letter-spacing:0;}
.paging .fstPage {background-position:0 0;}
.paging .prevPage {background-position:-30px 0;}
.paging .nextPage {background-position:-120px 0;}
.paging .lstPage {background-position:-150px 0;}
.pagenum {margin:0 15px; display:inline-block;}
.pagenum a {background: url(/images/juso/paging.png) no-repeat -60px 0; display:inline-block; width:25px; height:25px; line-height:25px; margin:0 2px; font-family:Arial; color:#666; font-weight:bold;}
.pagenum .active {background-position:-90px 0; color:#fff;}

/* 주소찾기-행정안정부이동 */
.newaddr_go {padding: 20px 0 10% 32px; color: #666; font-size: 12px;background-color: #ebebeb; border-top: 1px solid #d7d7d7;}
.newaddr_go strong {color:#23294b;}

/* common.css */
/* form, button, box-type, list-type, sort, file-add, ord-num */

/* font color */
i {font-family:Tahoma, Geneva, sans-serif !important; letter-spacing:0}
.base i {position:relative; top:1px;}
i.big {font-size:18px; position:relative; top:2px;}
.bold {font-weight:bold;}
.normal {font-weight:normal;}
.ptxt01 {color:#666;}
.ptxt02 {color:#999;}
.ptxt03 {color:#333;}
.c_blue{color:#2b62c2 !important}
.c_pink {color:#e20167 !important;}
.c_white {color:#fff !important;}
.c_yellow {color:#f09614 !important;}
.c_orange{color: #ff634c !important;}
.c_green{color:#6a9913 !important;}
.c_mint{color:#05B9AA !important;}
.c_mint2{color:#37b4be !important;}
.c_red{color:#ff0000 !important;}
.c_black{color:#000 !important;}
.c_ygreen{color:#5fc332 !important;}
.f_size14{font-size:14px;}

.section {position:relative;}
.tline {background: url(../images/icon/bar.gif) no-repeat 0 4px; padding-left:10px;}
.tliner {background: url(../images/icon/bar.gif) no-repeat 100% 3px; padding-right:16px;}
.nodata {text-align:center !important; padding:13px 0; color:#666; border-bottom:1px solid #ebebeb !important;}
.nodata2 {text-align:center !important; padding:13px 0; color:#666;}

/* title */
h2 {font-size:14px; line-height:1.2;}
h3 {font-size:16px; line-height:1.2;}
h2.tit01 {margin:0 0 20px; padding-bottom:15px; border-bottom:1px solid #bebebe; font-size:0; line-height:0;}
h2.tit02 {margin:-20px 0 10px;}
h2.tit03 {margin:0 0 20px; padding-bottom:15px; border-bottom:2px solid #e20167; font-size:0; line-height:0;}
h2.tit04 {margin:17px 0 10px 0;}
h3.stit01 {padding:12px 0 12px 20px; background:#f5f5f5; margin:30px 0 15px;}
h3.stit02 {margin:27px 0 15px;}
h3.stit03 {margin:0 0 19px; border-bottom:1px solid #e6e6e6; padding-bottom:13px;}
h3.stit04 {margin:18px 0 6px;}
h3.stit05 {position:relative; margin:40px 0 10px; background:url(../images/icon/bul04.gif) no-repeat left 5px; padding:0 0 12px 15px; border-bottom:1px solid #bebebe;}
h3.stit05 span {font-size:12px; color:#666; font-weight:normal; padding-left:20px;}
h3.stit05 .btn_more {font-weight:normal; position:absolute; top:7px; right:0; font-size:12px; color:#666; background:url(../images/icon/ico_arrow19.gif) no-repeat right 50%; font-family:'Malgun Gothic';}
h3.stit06 {margin:50px 0 10px; position:relative; padding:14px 0 15px; background: url(../images/content/sp_shopfront_type_tit.png) no-repeat 0 0; font-size: 14px; text-indent: 19px;}
h3.stit06 span {font-size:12px; color:#666; font-weight:normal; padding-left:20px;}
h3.stit06 .btn_more {font-weight:normal; position:absolute; top:16px; right:9px; font-size:12px; color:#666; background:url(../images/icon/ico_arrow19.gif) no-repeat right 50%; font-family:'Malgun Gothic';}
h3.stit07 {position:relative; margin:50px 0 10px; padding:0 0 12px 0; border-bottom:3px solid #e10064;}
h3.stit07 span {font-size:12px; color:#666; font-weight:normal; padding-left:20px;}
h3.stit07 .btn_more {font-weight:normal; position:absolute; top:7px; right:0; font-size:12px; color:#e10064; background:url(../images/icon/ico_arrow11.png) no-repeat right 50%; font-family:'Malgun Gothic';}
h3.t_type02 {margin:37px 0 20px; padding-bottom:15px; border-bottom:1px solid #bebebe;}
h3.t_type03 {margin:10px 0 15px;}

.btn_more {position:absolute; top:3px; right:0; display:inline-block; font-family:tahoma; font-size:11px; color:#999; padding-right:9px; background:url(../images/icon/ico_arrow09.png) no-repeat 100% 50%;letter-spacing:0;}
.btn_more.ko{font-family:'Malgun Gothic';font-size:11px;background-position:100% 45%;}
.s_section .btn_more2 {display:block; font-weight:bold; color:#666; margin-top:5px; border:1px solid #dedede;  height:28px; line-height:28px; text-align:center}
@-moz-document url-prefix(){.s_section .btn_more2 {line-height:23px;}} 
.s_section .btn_more2 span {position:relative; top:-1px;}
.h3_type1 {font-size:18px; font-weight:bold; margin-top:15px; line-height:25px}
.h3_type2 {margin:30px 0 15px 0;font-size:18px; font-weight:bold;}
.h3_type3 {font-size:16px; font-weight:bold;}
.tit_area {position:relative;}
.tit_area .aside {position:absolute; top:0; right:0;}
.btn_aside {position:absolute; top:0; right:0;}
.section .aside {position:absolute; top:-3px; right:0;}
span.s_txt {font-size:12px;color:#666;margin:0 10px;font-weight:normal;}
.b_vip {vertical-align:top; background:url(../images/button/btn_vvip.gif) no-repeat; width:89px; height:21px; display:inline-block; font-size:0; line-height:0;}
.bnr {margin:10px 0;}
.govip {display:block; margin-top:5px;}
.govip .b_vip{margin-left:10px;}

/* margin style */
.mgc {margin:0 auto;}
.mt0 {margin-top:0 !important;}
.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15 {margin-left:15px !important;}
.ml20 {margin-left:20px !important;}
.ml30 {margin-left:30px !important;}
.mr0{margin-right:0px !important;}
.mr20 {margin-right:20px !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt35 {margin-top:35px !important;}
.mt40 {margin-top:40px !important;}
.mt45 {margin-top:45px !important;}
.mt50 {margin-top:50px !important;}
.mb0 {margin-bottom:0 !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important;}
.mb15 {margin-bottom:15px !important;}
.mb20 {margin-bottom:20px !important;}
.mb30 {margin-bottom:30px !important;}
.mb50 {margin-bottom:50px !important;}
.mr5 {margin-right:5px !important;}
.mr10 {margin-right:10px !important;}
.mr15 {margin-right:15px !important;}
.ml10 {margin-left:10px !important;}
.ml35 {margin-left:35px !important;}
.mtm3 {margin-top:-3px !important;}
.mtm10 {margin-top:-10px !important;}
.mtm20 {margin-top:-20px !important;}
.mbm10 {margin-bottom:-10px !important;}
.mbm30{margin-bottom:-30px !important;}

/*padding style*/
.pt20 {padding-top:20px !important;}
.pl0 {padding-left:0 !important;}
.pl10 {padding-left:10px !important;}
.pr20 {padding-right:20px !important;}
.pb40 {padding-bottom:40px !important;}

.block {display:block;}
.inblock {display:inline-block;*display:inline;zoom:1;}
.clear {*zoom:1; clear:both;}
.clear:after {content:""; display:block; clear:both;}
.fl {float:left;}
.fr {float:right;}
.tac {text-align:center !important;}
.tal {text-align:left !important;}
.tar {text-align:right !important;}
.btn_center {text-align:center; margin-top:30px;}
.btn_right {text-align:right; margin-top:10px; margin-bottom:15px;}
.btn_border {border-top:1px solid #e1e1e1; padding-top:30px;text-align:center; margin-top:30px;}
.bkn {background:0 none !important;}
.btn_center a.btnType01 {margin-right:5px;}

/* form style */
input,  textarea {font-size:12px; font-family:'Malgun Gothic','Dotum',sans-serif; color:#666; vertical-align:middle;}
select{font-size:12px; font-family:'Malgun Gothic','Dotum',sans-serif; color:#666; vertical-align:middle;}
input[type="text"],
input[type="password"] {padding:7px 0 7px 9px; border:1px solid #d2d2d2;}
input[type="checkbox"],
input[type="radio"] {width:13px; height:13px; margin-right:3px; position:relative; top:1px;}
input[readonly]:focus,
input[readonly]:hover {border:1px solid #d2d2d2 !important;}
table input[type="text"],
table input[type="password"] {padding:6px 0 6px 9px;}
input.disable {border:1px solid #d2d2d2; background:#f0f0f0;}
input[type=search]::-webkit-search-cancel-button{display:none;}
button, input[type="reset"], input[type="button"], input[type="submit"] {line-height:normal !important;}

/* button */
.btnType01 {display:inline-block; overflow:visible; cursor:pointer; text-align:center; vertical-align:middle; white-space:nowrap;}
.btnType01 * {font-weight:bold; font-size:13px; color:#fff; display:inline-block; background:transparent; border:0 none; overflow:visible; cursor:pointer; vertical-align:middle;}
.btnType01 * {line-height:32px; height:32px; padding:0 15px;}

/* btn-color */
.b_gray {background:#666;}
.b_lgray {background:#999; border:1px solid #999;}
.b_white {background:#fff; border:1px solid #d2d2d2;}
.b_white * {color:#333;}
.b_pink {background: url(../images/button/bg_btn.gif) repeat-x; border:1px solid #e20367; border-bottom:1px solid #b70254; border-right:1px solid #c6055d; }
.b_bigpink {background-color:#e20167 !important; border:1px solid #e20367; border-bottom:1px solid #b70254; border-right:1px solid #c6055d; height:46px !important;padding:0 55px !important; }
.b_bigpink span {line-height:42px !important; font-size:15px;}
.b_lbrown {background:#ae925d;}
.b_orange{background:#f74a56;}
.b_white_line {background:#fff; border:2px solid #e20166;}
.b_white_line * {color:#333; line-height:35px; height:35px;}
.b_green {background: url(../images/button/bg_btn.gif) repeat-x 0 -189px; border:1px solid #35b1bc; border-bottom:1px solid #2c929b; border-right:1px solid #2d99a5;}
.b_white_gr {background: url(../images/button/bg_btn.gif) repeat-x 0 -243px; border:1px solid #d2d2d2;}
.b_white_gr * {color:#333;}
.b_white_red {background:#fff; border:1px solid #d2d2d2;}
.b_white_red * {color:#e20167;}
.b_mint {background:#05B6A8; border:1px solid #05B6A8; border-bottom:1px solid #049589; border-right:1px solid #05B1A3;}
.b_dwhite {background:#f5f5f5; border:1px solid #d6d6d6;}
.b_dwhite * {color:#666;}

.btnType01 {background-position:0 -62px}

/* wpop btn search */
.btn_search2 {width:83px; height: 45px; background-color: #23294b;}
.btn_search2 input {width:83px; height:29px; line-height: 45px !important;}


/* popup.css */
html {overflow-y:auto;}

/* window popup */
.popWindow {background:#fff; width:100%;}
.popWindow .popHeader {padding:18px 20px 19px; background:#e20167 url(../images/popup/bg_pop_tit.gif) no-repeat;}
.popWindow.channel .popHeader {padding:18px 20px 19px; background:#333 url(../images/popup/bg_pop_tit2.gif) no-repeat;}
.popWindow .popHeader h1 {font-size:18px; color: #fff;}
.popWindow .popBody {position:relative; padding:30px 20px; background-color:#fff; *zoom:1;}
.popWindow .popBody .btn_center {margin-top:20px;}
.popWindow .btn_close {overflow:hidden; position:absolute; right:20px; top:20px; width:17px; height:17px; background: url(../images/button/btn_close02.png) no-repeat; text-indent:100%; white-space:nowrap;} 
.popWindow .popFoot {border-top:1px solid #bebebe; background:#f5f5f5; height:40px; padding:0 20px; position:relative;}
.popWindow .popFoot .checkbox {margin-top:11px; display:block;}
.popWindow .popFoot .checkbox label {background:#f5f5f5 url(../images/bg/bg_checkbox.gif) no-repeat 0 2px;}
.popWindow .popFoot .checkbox.on label {background:#f5f5f5 url(../images/bg/bg_checkbox_on.gif) no-repeat 0 2px;}
.popWindow .popFoot .btnType06.pop_close {position:absolute; top:5px; right:20px;}

/* popsize  padding:20px*/
div.popSize01 {min-width:402px;}
div.popSize02 {min-width:854px;}
div.popSize03 {min-width:512px;}
div.popSize04 {min-width:790px;}
div.popSize05 {min-width:560px;}
div.popSize06 {min-width:490px;}
div.popSize07 {min-width:360px;}
div.popSize08 {min-width:700px;}
div.popSize09 {min-width:470px;}
div.popSize10 {min-width:500px;}
div.popSize11 {min-width:760px;}
div.popSize12 {min-width:504px;}
div.popSize13 {min-width:454px;}
div.popSize14 {min-width:600px;}

/*txt*/
.popWindow .p_stit {font-size:14px; word-spacing:-1px; letter-spacing:0; line-height:20px; text-align:center; padding-bottom:19px; border-bottom:1px solid #e1e1e1}
.popWindow .p_stit02 {font-size:14px; word-spacing:-1px; letter-spacing:0; line-height:14px; margin-top:20px;padding:0 0 10px; text-align:left; border-bottom:0; margin-bottom:0; }
.popWindow .p_stit03 {font-size:14px; word-spacing:-1px; letter-spacing:0; line-height:20px; text-align:center; padding-bottom:15px; border-bottom:0;}
.popWindow .p_stit04 {font-size:16px; word-spacing:-1px; letter-spacing:0; line-height:20px; font-weight:bold; padding-bottom:15px; border-bottom:3px solid #E20167;margin-bottom:20px;}
.popWindow .p_stit05 {font-size:20px; word-spacing:-1px; letter-spacing:0; line-height:20px; padding:0 0 15px;}
.popWindow .p_stit06 {font-size:14px; word-spacing:-1px; letter-spacing:0; line-height:14px; padding:0 0 10px; margin-top:20px;}
.popWindow .p_stit07 {font-size:14px; word-spacing:-1px; letter-spacing:0; line-height:1.5; font-weight:bold;}
.popWindow .p_stit08 {font-size:16px; word-spacing:-1px; letter-spacing:0; line-height:20px; font-weight:bold; margin-bottom:20px;}
.popWindow .p_stit09 {font-size: 13px;word-spacing:-1px;letter-spacing:0;line-height:20px;/* font-weight:bold; */margin-bottom:20px;}


/*box*/
.popBody>.common_box,
.popBody>.guide_box2 {margin-top:-10px;}
.popBody .form_box {background:#f2f2f2;padding:15px 0 15px 30px}
.popBody .form_box2 {padding:16px 20px; background:#f2f2f2;}
.popBody .form_box3 {border:1px solid #e2e2e2; background:#fbfbfb; padding:20px; color:#666; margin-bottom:20px; position:relative;}
.popBody .form_box4 {border:1px solid #e2e2e2; background:#fbfbfb; padding:15px 20px; color:#666;}
.popBody .form_box5 {border:1px solid #e2e2e2; background:#fbfbfb; padding:23px 30px 25px; text-align:center;}
.popBody .form_box6 {border:1px solid #e2e2e2; background:#fff; padding:15px 20px; color:#666;}

/* input */
.popBody input[type="text"],
.popBody input[type="password"] {padding:7px 9px;}
.pop_btn_center {padding-top:20px; border-top:1px solid #d2d2d2; text-align:center}
.pop_btn_center2 {padding-top:20px; text-align:center}
.popBody .btnType01:first-child {margin-left:0;}
.popBody.noMemberAgree .btnType01 {width:125px; text-align:left; margin-left:6px; background: url(../images/icon/ico_arrow11.gif) no-repeat 100% 50%; border:1px solid #d2d2d2;}
.popBody.noMemberAgree .btnType01 * {padding:0; height:27px; line-height:27px; padding-left:15px; color:#666;}

/*btn*/
.popBody .b_pink {background:#e00769; border:1px solid #e00769; border-bottom:1px solid #b50253; border-right:1px solid #c6055d;}
.popBody .b_black {background:#3e3e3e; border:1px solid #3e3e3e; border-bottom:1px solid #2f2f2f; border-right:1px solid #2f2f2f;}
.popBody .b_gray {background:#666; border:1px solid #666; border-bottom:1px solid #555; border-right:1px solid #5b5b5b;}
.popBody .b_dwhite {background:#f5f5f5 url(../images/icon/ico_arrow11.gif) no-repeat 100% 50% !important;}
.popBody .log_support {overflow:hidden;border-top:1px solid #d2d2d2;padding-top:20px; margin-top:25px;}
.popBody .log_support .btnType01:first-child {margin-left:0; background-color:#f5f5f5}  
.popBody .btnType02.big {border:1px solid #808080; border-right:1px solid #5b5b5b; border-bottom:1px solid #5b5b5b;}
.popBody .btnType02.big.b_lgray {background:#a2a2a2; border:1px solid #adadad; border-right:1px solid #8b8b8b; border-bottom:1px solid #8b8b8b; margin-left:9px;}
.popBody .btnType02.big span {width:102px; height:82px; line-height:82px; font-size:16px; font-weight:bold;}
.popBody .b_orange {background:#F74A56; border:1px solid #F74A56; border-bottom:1px solid #D2313A; border-right:1px solid #DF3A44;}

/*주소찾기*/
.addrFindBj .tab_content {/* min-height:586px; */ margin-top:20px;}
.addrFindBj .search_wrap {padding:0 0 20px;border-bottom:1px solid #ebebeb;}
.addrFindBj #tab2 .search_wrap {padding-bottom:20px;}
.addrFindBj .addr_list {overflow-y:auto;overflow-x:hidden; max-height:275px; border-top:1px solid #c2c2c2; border-bottom:1px solid #ebebeb;}
.addrFindBj .addr_list02 {border:1px solid #d2d2d2; border-top:0;}
.addrFindBj .addr_list02 li {border-top:1px solid #d2d2d2; line-height:31px; height:31px; color:#666; padding:0 10px;}
.addrFindBj .addr_list02 li.nodata {background:#f5f5f5; color:#999; text-align:left; border-bottom:0;}
.addrFindBj .addr_result {color:#e10064; background:#f5f5f5; height:29px; padding-left:10px; margin-top:10px; border: 1px solid #d2d2d2;line-height:29px;}
.addrFindBj .add_sel {overflow:hidden; margin-bottom:-10px;}
.addrFindBj .add_sel > li{overflow:hidden;border-top:1px solid #e1e1e1;padding:10px 0;}
.addrFindBj .add_sel .fl{width:102px; overflow:hidden; position:relative;}
.addrFindBj .addr_btn {position:absolute; top:0; right:0;}
.addrFindBj .addr_btn input {width:88px; height:70px; font-size:14px; font-weight:bold;}
.addrFindBj .pop_btn_center {margin-top:10px;}
.addrFindBj label.value_txt {top:7px; color:#999;}
.addrFindBj .selectN,
.addrFindBj .selectN select {width:72px;}
.ip_field {overflow:hidden; position:relative;}
.ip_field li {height:31px;*zoom:1;}
.ip_field li:first-child {margin-bottom:10px;}
.ip_field li:after {display:block; content:""; clear:both;}
.ip_field input[type="text"] {float:left; margin-right:10px;}
.ip_field input[type="text"]:hover,
.ip_field input[type="text"]:focus {border:1px solid #e10064;}
.ip_wrap {display:inline-block; position:relative; float:left;}
.ip_wrap input {margin-right:10px;}
.ip_field .selectN {float:left; margin-right:10px;}
.ip_field .selectN.add2,
.ip_field .selectN.add2 select {width:131px;}
.ip_field .btnType01.btn_search {float:left;}
.ip_field .btnType05.btn_search {position: absolute; top:0; left: 310px; background: #e00769 none repeat scroll 0 0; margin:0; padding: 20px 0;}
.ip_s01 {width:280px; height:15px; *height:14px; padding:7px 10px; border:1px solid #d2d2d2; position:relative;}
.ip_s02 {width:185px;}
.ip_s03 {width:280px}
.ip_s04 {width:147px; margin-right:0 !important;}
.ip_s05 {width:71px}
.ip_s06 {width:65px; text-align:center; font-weight:bold; font-family:Tahoma; margin-right:10px; float:left;}
.ip_s07 {width:49px; text-align:center; font-weight:bold; font-family:Tahoma; margin-right:10px; float:left;}
.ip_s08 {width:200px;}
.add_sel .ip_s02 {margin-right:0 !important; width:185px;}
.ip_s09 {width:280px;height:15px;height:14px;padding: 15px 9px !important;border:1px solid #d2d2d2;position:relative; font-size:15px;}
.p_noti li { line-height: 25px;}


.address_list {height: 330px;overflow: hidden;overflow-y: auto;}
.address_list dl {border-bottom: 1px solid #ebebeb; padding: 15px 0;}
.address_list dl dt {font-size: 16px; margin-bottom: 7px;color: #3f61ff;}
.address_list dl dd {line-height: 23px;}
.address_list dl dd li span{padding: 0 3px; border: 1px solid #66a9e2; margin-right: 5px;color: #66a9e2;font-size: 11px;}