html, body {
	 margin: 0;
	 overflow: hidden;
}
.container {
	 width: 100vw;
	 height: 100vh;
	 overflow: hidden;
	 position: fixed;
}
.ani-eff.image{
	overflow:hidden;
}
.scrollbar-track-y{
	display:none !important;
}
.all-wrap{
	padding:0 !important;
}
.footer-top, .fo-logo{
    background: #fff;
}
.header{
	border-bottom:0;
}